@model IEnumerable<DragonTracker.Models.TicketStatus>

@{
    ViewData["Title"] = "Ticket Statuses";
}

<br />
<div class="row">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-ticket-alt"></i>
                    Ticket Statuses 
                </h3>
                <div class="card-tools">
                    <a asp-action="Create" class="btn btn-success btn-sm">
                        <i class="fas fa-plus">
                        </i>
                        Create A Status
                    </a>
                    
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>