@model DragonTracker.Models.TicketStatus

@{
    ViewData["Title"] = "Delete Status";
}

<br />

<div class="wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <form asp-action="Delete">
            <div class="card card-danger">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-trash"></i>
                        Delete a Status
                    </h3>
                    
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> 
                        <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
                    </form>
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>